:root {
  /* colors */
  --main-color: #214158;
  --main-color-two: #296696;
  --second-color: #fff;
  --third-color: #866379;
  --grey-color: #919191;
  --text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.514);
  --transition-4s: all 0.4s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}

body,
html {
  height: 100%;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

img {
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
}

.btn-primary {
  color: var(--second-color);
  padding: 0.5em 0.6em;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: var(--main-color-two);
  box-shadow: 1px 1px 7px rgba(32, 32, 32, 0.705);
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  border: 0.5px solid var(--second-color);
  opacity: 0.9;
  background-color: transparent;
}

.text-center {
  text-align: center;
  margin: 3em auto;
}

.view-more {
  transition: var(--transition-4s);
  color: var(--grey-color);
  font-size: 1.15rem;
  margin: 3em 0;
  border-bottom: 1px solid var(--main-color-two);
}

.view-more:hover,
.view-more:focus,
.view-more:active {
  color: var(--main-color-two);
  border-bottom: 1px solid var(--grey-color);
}
